<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food List</title>
    </head>
    <body>
        <header>
            <h1>List of Foods</h1>
        </header>
        <main>
            <ul>
                {% for food in foods %}
                <li>{{ food.food_name }}</li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
